<!-- Main Content -->
<div class="container mt-3">
  <div class="card">
    <div class="card-body">

      <!-- Table Section -->
      <div class="table-responsive">
        <table *ngIf="acheteurs" class="table table-striped table-hover">
          <!-- Table Header -->
          <thead class="table-dark">
          <tr>
            <th>ID Acheteur</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>Actions</th>
          </tr>
          </thead>

          <!-- Table Body -->
          <tbody>
          <tr *ngFor="let a of acheteurs">
            <td>{{ a.id_Acheteur }}</td>
            <td>{{ a.nom }}</td>
            <td>{{ a.ville }}</td>
            <td>
              <button class="btn btn-sm btn-outline-success me-2" (click)="recupereAch(a)" data-bs-toggle="modal" data-bs-target="#updateForm">Update</button>
              <button class="btn btn-sm btn-outline-danger" (click)="confirmDelete(a)" data-bs-toggle="modal">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Button to activate the add form -->
      <div class="text-center m-3">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addForm">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Form Modal -->
<div class="modal fade" id="updateForm" tabindex="-1" aria-labelledby="updateFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Body -->
      <div class="modal-body">
        <form (ngSubmit)="updateAcheteur(upd)" #upd="ngForm">
          <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" [(ngModel)]="test.nom" placeholder="Enter nom" name="nom" aria-describedby="nom">
          </div>

          <div class="mb-3">
            <label class="form-label">Ville</label>
            <input type="text" class="form-control" [(ngModel)]="test.ville" placeholder="Enter ville" name="ville" aria-describedby="ville">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Form Modal -->
<div class="modal fade" id="addForm" tabindex="-1" aria-labelledby="addFormLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Body -->
      <div class="modal-body">
        <form (ngSubmit)="addAcheteur(add)" #add="ngForm">
          <div class="mb-3">
            <label class="form-label">Nom</label>
            <input type="text" class="form-control" [(ngModel)]="test.nom" placeholder="Enter nom" name="nom" aria-describedby="nom" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Ville</label>
            <input type="text" class="form-control" [(ngModel)]="test.ville" placeholder="Enter ville" name="ville" aria-describedby="ville" required>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
